$bordercolor: #f0f0f0;
.card {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    border: 1px solid $bordercolor;
    header {
        padding: 20px;
        border-bottom: 1px solid $bordercolor;
        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            &:first-child {
                margin-top: 0;
            }
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
    .content,
    .actions {
        padding: 20px;
    }
    .actions {
        border-top: 1px solid $bordercolor;
        display: flex;
        flex-direction: row;
    }
    .actions button {
        margin-right: 1em;
    }
}
