.row mat-icon {
    font-size: 1rem;
    width: 1rem;
    height: 1rem;
    vertical-align: text-bottom;
    margin-right: 0.5rem;
}
mat-card-actions.mat-card-actions.mat-card-actions {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
