<ng-container *ngIf="unicornWithAge">
    <!-- FIXME: use a Pipe to cast to string ? -->
    <app-card [title]="unicornWithAge.name" [subtitle]="unicornWithAge.id.toString()">
        <mat-icon>fitness_center</mat-icon>&nbsp;Poids&nbsp;: {{ unicornWithAge.weight }}
        <br />
        <mat-icon>elderly</mat-icon>&nbsp;Age&nbsp;: {{ unicornWithAge.age < 60 ? unicornWithAge.age : 'vieux' }}
        <ng-container *ngIf="unicornWithAge.hobbies?.length">
            <br />
            <mat-icon>pool</mat-icon>&nbsp;Hobbies&nbsp;: {{ unicornWithAge.hobbies?.join(', ') }}
        </ng-container>
        <ng-container *ngIf="unicornWithAge.capacities?.length">
            <br />
            <mat-icon>pool</mat-icon>&nbsp;Capacités&nbsp;: {{ unicornWithAge.capacities?.join(', ') }}
        </ng-container>
        <ng-container cardActions>
            <button mat-button type="button" (click)="sayHello()">Say hello</button>
            <button mat-icon-button type="button" (click)="remove()"><mat-icon>delete</mat-icon></button>
        </ng-container>
    </app-card>
</ng-container>
