<ng-container *ngIf="unicorn">
    <!-- FIXME: use a Pipe to cast to string ? -->
    <mat-card>
        <mat-card-header>
            <img mat-card-avatar [src]="unicorn.photo" />
            <mat-card-title>{{ unicorn.name }}</mat-card-title>
            <mat-card-subtitle>ID&nbsp;: {{ unicorn.id }}</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image [src]="unicorn.photo" [alt]="unicorn.name" />
        <mat-card-content>
            <div class="row"><mat-icon>fitness_center</mat-icon>&nbsp;Poids&nbsp;: {{ unicorn.weight }}</div>
            <div class="row">
                <mat-icon>elderly</mat-icon>&nbsp;Age&nbsp;:
                {{ unicorn.birthyear | ageFromBirthYear }}
            </div>
            <ng-container *ngIf="unicorn.hobbies?.length">
                <div class="row"><mat-icon>pool</mat-icon>&nbsp;Hobbies&nbsp;: {{ unicorn.hobbies?.join(', ') }}</div>
            </ng-container>
            <ng-container *ngIf="unicorn.capacities?.length">
                <div class="row">
                    <mat-icon>bolt</mat-icon>&nbsp;Capacités&nbsp;: {{ unicorn.capacitiesLabels?.join(', ') }}
                </div>
            </ng-container>
        </mat-card-content>
        <mat-card-actions>
            <button mat-mini-fab color="warn" aria-label="remove" (click)="remove()">
                <mat-icon>delete</mat-icon>
            </button>
            <a mat-icon-button color="primary" aria-label="edit" [routerLink]="['/unicorns', unicorn.id, 'edit']">
                <mat-icon>edit</mat-icon>
            </a>
            <button
                mat-icon-button
                [color]="(isFavorite$ | async) ? 'accent' : null"
                aria-label="favorite"
                (click)="toggleFavorite()"
            >
                <mat-icon>favorite</mat-icon>
            </button>
            <a mat-icon-button aria-label="show" [routerLink]="['/unicorns', unicorn.id]" (click)="sayHello()">
                <mat-icon>visibility</mat-icon>
            </a>
        </mat-card-actions>
    </mat-card>
    <!-- <app-card [title]="unicorn.name" [subtitle]="unicornWithAge.id.toString()">
        <div class="row"><mat-icon>fitness_center</mat-icon>&nbsp;Poids&nbsp;: {{ unicornWithAge.weight }}</div>
        <div class="row">
            <mat-icon>elderly</mat-icon>&nbsp;Age&nbsp;:
            {{ unicornWithAge.age < 60 ? unicornWithAge.age : 'vieux' }}
        </div>
        <ng-container *ngIf="unicornWithAge.hobbies?.length">
            <div class="row">
                <mat-icon>pool</mat-icon>&nbsp;Hobbies&nbsp;: {{ unicornWithAge.hobbies?.join(', ') }}
            </div>
        </ng-container>
        <ng-container *ngIf="unicornWithAge.capacities?.length">
            <div class="row">
                <mat-icon>bolt</mat-icon>&nbsp;Capacités&nbsp;: {{ unicornWithAge.capacities?.join(', ') }}
            </div>
        </ng-container>
        <ng-container cardActions>
            <button mat-icon-button type="button" (click)="remove()"><mat-icon>delete</mat-icon></button>
            <button mat-button type="button" (click)="sayHello()">Say hello</button>
        </ng-container>
    </app-card> -->
</ng-container>
