<mat-sidenav-container class="sidenav-container">
    <mat-sidenav
        #drawer
        class="sidenav"
        fixedInViewport
        [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
        [mode]="(isHandset$ | async) ? 'over' : 'side'"
        [opened]="(isHandset$ | async) === false"
    >
        <mat-toolbar>Menu</mat-toolbar>
        <mat-nav-list>
            <a
                mat-list-item
                mat-list
                routerLink="/"
                routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }"
                >Licornes</a
            >
            <a
                mat-list-item
                routerLink="/unicorns/new"
                routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }"
                >Créer</a
            >
            <a mat-list-item routerLink="/admin" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                Admin
            </a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <mat-toolbar color="primary">
            <button
                type="button"
                aria-label="Toggle sidenav"
                mat-icon-button
                (click)="drawer.toggle()"
                *ngIf="isHandset$ | async"
            >
                <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
            </button>
            <span>unicorn-ng</span>
            <span class="spacer"></span>
            <span>{{ (cart$ | async)?.length }}</span>
            &nbsp;
            <mat-icon [color]="(cart$ | async)?.length ? 'accent' : 'secondary'">favorite</mat-icon>
        </mat-toolbar>
        <ng-content></ng-content>
    </mat-sidenav-content>
</mat-sidenav-container>
